<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="E:\dev\shoolrool\src\com\liu\Task1\pojo" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>